APP_ENV=production
APP_DEBUG=0
SITE_URL=http://localhost/parque_industrial
SESSION_COOKIE_SECURE=0

DB_HOST=parque-industrial-davinci7-1603.aivencloud.com
DB_PORT=18121
DB_NAME=parque-industrial
DB_USER=avnadmin
DB_PASS=CAMBIAR_POR_PASSWORD_REAL
DB_CHARSET=utf8mb4
